{# templates/admin/email/send_email.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Send Email</h1>

        {{ form_start(form, { 'attr': { 'class': 'form' } }) }}

        <div class="form-group">
            {{ form_label(form.categories) }}
            {{ form_widget(form.categories) }}
            {{ form_errors(form.categories) }}
        </div>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message, { 'attr': { 'class': 'wysiwyg-editor' } }) }}
            {{ form_errors(form.message) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.wysiwyg-editor',
        });
    </script>
{% endblock %}
